.App {
	width: 100vw;
	height: 100vw;

	position: relative;
}

.App h1 {
	font-family: monospace;
	margin-bottom: 5px;
}

.controls {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.map-container {
	margin: 0 auto;

	width: 100%;
	height: 100%;

	max-width: 1000px;
	height: 500px;
}